.page-footer {
  padding-top: 56px;
  padding-bottom: 56px;

  background-color: #f1f0f5;
}

.page-footer__up-row {
  margin-bottom: 24px;

  grid-column: content;
}

.page-footer__down-row {
  grid-column: content;
}

.page-footer__contacts {
  margin-bottom: 28px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & > * {
    margin-bottom: 6px;
  }
}

.contacts__title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.contacts__tel {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.contacts__social-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contacts__social-item {
  &:not(:last-of-type) {
    margin-right: 12px;
  }
}

.contacts__social-link {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  &--insta {
    background: linear-gradient(
      45deg,
      #ffd600 8.39%,
      #ff0100 50%,
      #d800b9 91.61%
    );
  }

  &--facebook {
    background: linear-gradient(180deg, #18aefe 0%, #0062e0 100%), #c4c4c4;
  }

  &--vk {
    background: #2787f5;
  }
}

.page-footer__info-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-block__buyers {
  width: 100%;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border-bottom: 1px solid rgba(129, 129, 129, 0.1);
  transition: all 0.2s;

  &[open] summary::after {
    transform: translateY(-50%) rotate(180deg);
  }
}

.info-block__title {
  position: relative;

  width: 100%;
  padding-bottom: 10px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

  transition: all 0.2s;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;

    background-image: url('./../../images/svg/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: center;

    transition: all 0.2s;
  }
}

.buyers__list {
  padding-bottom: 10px;

  overflow: hidden;
}

.buyers__list-item {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: rgba(0, 0, 0, 0.6);

  &:not(:last-of-type) {
    margin-bottom: 6px;
  }
}

@keyframes sweep {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 2000px;
  }
}

.info-block__buyers[open] .buyers__list {
  animation: sweep 2s ease-in-out;
}

.page-footer__down-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 1100px) {
  .page-footer {
    padding-top: 48px;
    padding-bottom: 48px;

    background-color: #f1f0f5;
  }

  .page-footer__up-row {
    margin-bottom: 24px;
    padding-bottom: 24px;

    grid-column: content;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .page-footer__down-row {
    grid-column: content;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
  }

  .page-footer__contacts {
    margin-bottom: 0px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > * {
      margin-bottom: 12px;
    }
  }

  .contacts__title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }

  .contacts__tel {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
  }

  .contacts__social-link {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    &--insta {
      background: rgba(0, 0, 0, 0.3);
      &:hover {
        background: linear-gradient(
          45deg,
          #ffd600 8.39%,
          #ff0100 50%,
          #d800b9 91.61%
        );
      }
    }

    &--facebook {
      background: rgba(0, 0, 0, 0.3);
      &:hover {
        background: linear-gradient(180deg, #18aefe 0%, #0062e0 100%), #c4c4c4;
      }
    }

    &--vk {
      background: rgba(0, 0, 0, 0.3);
      &:hover {
        background: #2787f5;
      }
    }
  }

  .page-footer__info-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .info-block__buyers {
    width: 100%;
    margin-bottom: 0px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-bottom: none;

    &:not(:last-of-type) {
      margin-right: 48px;
    }

    &[open] summary::after {
      display: none;
    }
  }

  .info-block__title {
    position: relative;

    width: 100%;
    padding-bottom: 12px;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    pointer-events: none;

    &::after {
      display: none;
    }
  }

  .buyers__list {
    padding-bottom: 00px;

    overflow: hidden;
  }

  .buyers__list-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: rgba(0, 0, 0, 0.6);

    &:not(:last-of-type) {
      margin-bottom: 6px;
    }
  }

  @keyframes sweep {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 2000px;
    }
  }

  .info-block__buyers[open] .buyers__list {
    animation: sweep 2s ease-in-out;
  }
}
