:root {
  --fovoriteColor: #e05b26;
  --akcentColor: #006d68;
  --akcentColorHover: #2c8480;
  --akcentColorActive: #005e5a;
  --blackFonColor: #2b2831;
  --blackFonColorHover: #3a3a47;
  --grayCartFonColor: #f3f3f3;
}
