.page-header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 64px;
  padding: 9px 0;

  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(54, 78, 76, 0.08),
    0px 4px 16px rgba(54, 78, 76, 0.06);
  will-change: transform, contents;
}

.page-header__inner {
  display: flex;

  justify-content: flex-start;
  align-items: center;
}

.page-header__menu-site {
  position: relative;
  margin-right: 27px;
}

.nav-site {
  margin-bottom: 24px;
}

.nav-site__list-item:not(:last-of-type) {
  margin-bottom: 16px;
}

.right-block__phone {
  display: flex;
  align-items: center;
}

.nav-site__location {
  margin-bottom: 24px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.menu-site__mobile-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & button {
    margin-right: 24px;
  }
}

.page-header__main-panel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-site__inner {
  display: none;

  position: absolute;
  top: 84px;
  width: 100vw;
  height: calc(100vh - 120px);
  grid-template-rows: [start]auto [end]auto;
  place-content: start;
  overflow-y: auto;
}

.menu-site__right-block {
  margin-bottom: 12px;

  grid-row: start;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.main-panel__logo {
  width: 158px;
  height: 46px;
}

.search-block__catalog-button {
  display: none;
}

.search-form__label {
  display: none;
}

.main-panel__user-block {
  display: none;
}

.header-page__popular-block {
  display: none;
}

.show {
  display: grid;
  --burger-svg: none;
  --close-svg: block;
}

// /////////////////

@media (min-width: 1100px) {
  .page-header {
    position: static;
    height: auto;
    padding: 12px 0;
    margin-bottom: 24px;

    box-shadow: none;
  }

  // for animate
  .page-header--sticky {
    position: sticky;
    top: 0px;
  }

  .page-header__inner {
    display: grid;
  }

  // for animate
  .page-header__inner--sticky {
    position: sticky;
    top: 12px;

    padding: 16px 0px;
    
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
  }

  .show-menu {
    display: none;
  }

  .page-header__menu-site {
    width: 100%;
    margin-right: 0px;

    grid-column: content;
  }

  .menu-site__toggle-snap {
    display: none;
  }

  .menu-site__inner {
    position: static;

    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 3fr [right-block]minmax(156px, 1fr);
    grid-template-rows: 24px;
    grid-gap: 12px 22px;
    place-items: center start;
  }

  .nav-site {
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 1fr minmax(790px, 8fr);
    grid-template-rows: 24px;
    grid-gap: 12px 22px;
    place-items: center start;
  }

  .menu-site__right-block {
    margin-bottom: 0px;
  }

  .nav-site__location {
    margin-bottom: 0px;
  }

  .nav-site__list {
    display: flex;
    align-items: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: rgba(0, 0, 0, 0.6);
  }

  .nav-site__list-item:not(:last-of-type) {
    margin-bottom: 0px;
    margin-right: 24px;
  }

  .nav-site__list-link {
    height: 24px;
    display: flex;
    align-items: center;
  }

  .menu-site__right-block {
    justify-self: end;
    grid-row: auto;
  }

  .menu-site__mobile-buttons {
    display: none;
  }

  .page-header__main-panel {
    grid-column: content;
    width: 100%;
    display: grid;
    grid-template-columns: [logo]minmax(180px, 2fr) [search-block]7fr [user-block] minmax(
        280px,
        3fr
      );
    grid-template-rows: 52px;
    grid-gap: 12px 22px;
  }

  //  for animate

  .page-header__main-panel--sticky {
    position: sticky;
    top: 0;
  }

  .main-panel__logo {
    width: 180px;
    height: 52px;
  }

  .main-panel__search-block {
    display: grid;
    grid-template-columns: 135px minmax(320px, 5fr);
    grid-gap: 0px 22px;
    place-items: center;
  }

  .search-block__search-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .search-form__toogle-form {
    display: none;
  }

  .search-block__catalog-button {
    display: flex;
  }

  .search-form__label {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
  }

  .search-form__input {
    width: 100%;
    height: 100%;

    border: none;
    outline: none;
  }

  .search-form__submit {
    width: 72px;
    height: 40px;
  }

  .main-panel__user-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .user-block__item:not(:last-of-type) {
    margin-right: 24px;
  }

  .user-block__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-page__popular-block {
    grid-column: content;
    width: 100%;
    height: 60px;
    padding: 10px 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #f1f0f5;
    border-radius: 6px;
  }

  .popular-block__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }

  .popular-block__list-item:not(:last-of-type) {
    position: relative;
    margin-right: 16px;
    padding-right: 32px;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0px;
      width: 16px;
      height: 16px;
      transform: translateY(-50%);

      background-image: url('./svg/romb.svg');
    }
  }
}
