<% var data = { items:[ {name: 'Главная', href: 'index.html'}, {name: 'Каталог',
href: ''} ] }%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catalog</title>
  </head>
  <body>
    <%=_.template(require('./../includes/svg-sprite.html'))() %>
    <%=_.template(require('./../includes/header.html'))() %>
    <main class="page-main">
      <%=_.template(require('./../includes/breadcrumbs.html'))(data) %>
      <%=_.template(require('./../includes/catalog-section.html'))() %>
    </main>

    <%=_.template(require('./../includes/footer.html'))() %>

    <!-- popups -->
    <%=_.template(require('./../includes/popup-catalog.html'))() %>
    <%=_.template(require('./../includes/popup-basket.html'))() %>
  </body>
</html>
