.present-products {
  padding-top: 72px;
  margin-bottom: 72px;

  background: linear-gradient(to bottom, #f1f0f5 81%, #ffffff 81%);
}

.present-products__novelty {
  grid-column: content;

  overflow: hidden;
}

.novelty__list {
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.present-card {
  width: 25%;
  flex-shrink: 0;
  margin-right: 24px;
  border: 1px gray solid;
}
